@model Plant_Management_System.Models.WishList

@{
    ViewData["Title"] = "Create";
}

<h3>Wish For A Plant</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PlantName" class="control-label"></label>
                <input asp-for="PlantName" class="form-control" />
                <span asp-validation-for="PlantName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Budget" class="control-label"></label>
                <input asp-for="Budget" class="form-control" />
                <span asp-validation-for="Budget" class="text-danger"></span>
            </div>
            <input type="hidden" id="hidden" name="hidden" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" onclick="getTimeZone()" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    function getTimeZone()
    {
        const d = new Date();
        let text = d.toTimeString();
        let form = document.forms["form"];
        let hidden = form.elements["hidden"];
        hidden.value = text.slice(text.indexOf("(") + 1, text.indexOf(")"));
    }
</script>