@model Plant_Management_System.Models.Plant

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Plant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WaterNeeds" class="control-label"></label>
                <select asp-for="WaterNeeds" class="form-control" asp-items="Html.GetEnumSelectList<WaterNeed>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="WaterNeeds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LightNeeds" class="control-label"></label>
                <select asp-for="GrowthMedium" class="form-control" asp-items="Html.GetEnumSelectList<LightNeed>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="LightNeeds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrowthMedium" class="control-label"></label>
                <select asp-for="GrowthMedium" class="form-control" asp-items="Html.GetEnumSelectList<GrowthMediums>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="GrowthMedium" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PotType" class="control-label"></label>
                <select asp-for="PotType" class="form-control" asp-items="Html.GetEnumSelectList<PotTypes>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="PotType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rarity" class="control-label"></label>
                <select asp-for="Rarity" class="form-control" asp-items="Html.GetEnumSelectList<Rarities>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Rarity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Availability" class="control-label"></label>
                <select asp-for="Availability" class="form-control" asp-items="Html.GetEnumSelectList<Availabilities>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="Availability" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastRepotted" class="control-label"></label>
                <input asp-for="LastRepotted" class="form-control" />
                <span asp-validation-for="LastRepotted" class="text-danger"></span>
            </div>
            <input type="hidden" id="hidden" name="hidden"/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" onclick="getTimeZone()"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
    function getTimeZone() {
        const d = new Date();
        let text = d.toTimeString();
        let form = document.forms["form"];
        let hidden = form.elements["hidden"];
        hidden.value = text.slice(text.indexOf("(") + 1, text.indexOf(")"));
    }
</script>