@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Web Applications Fall 2021</h1>
    <h2>Plant Management System</h2>
    <p>Group Members: <br />
    Alex Inclan <br />
    Will Judge <br />
    Beni Unger <br />
    Krissi Postor<br />
    </p>
</div>
