@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/homepage.css" />
<div class="text-center">
    <div class="display-4"></div>
    <div class="homebackground">
        <br /><br />
        <div class="textbackground">
            <h1 style="color: white">Plant Management System</h1>
            <h2 style="color: white">Web Applications Fall 2021</h2>
            <p style="color: white">
                Group Members: <br />
                Alex Inclan <br />
                Will Judge <br />
                Beni Unger <br />
                Krissi Postor<br />
            </p>
        </div>
        <br /><br />
    </div>
</div>
</div>
