@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/homepage.css" />
<div class="text-center">
    <div class="display-4"></div>
        <div class="homebackground">
            <br /><br />
            <div class="textbackground">
                <h1 style="color: white">Plant Management System</h1>
                <h2 style="color: white">Web Applications Fall 2021</h2>
                <p style="color: white">An online management system for the houseplant collector!
                <br />Manage your collection, care logs, sales, trades and propogation in one place.</p>
            </div>
        <br /><br />
    </div>
</div>

