@model Plant_Management_System.Models.TradeEventView

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TradeEvent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Plant to Trade</label>
                <select asp-for="TradePlant" class="form-control">
                    @foreach (var plant in Model.PlantList)
                    {
                        <option value=@plant.PlantId>@plant.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Trade To</label>
                <select asp-for="TraderId" class="form-control">
                    @foreach (var trader in Model.TraderList)
                    {
                        // Get the best name for the borrower since first and last name might not be complete yet
                        string name = trader.FullName();
                        if (name == " ")
                        {
                            name = trader.UserName;
                        }
                        <option value=@trader.Id>@name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Plant to Receive</label>
                <select asp-for="ReceivePlant" class="form-control">
                    @foreach (var plant in Model.ReceivingPlantList)
                    {
                        <option value=@plant.PlantId>@plant.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="trade.TradeDate" class="control-label"></label>
                <input asp-for="trade.TradeDate" class="form-control" />
                <span asp-validation-for="trade.TradeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
